.well {
    background: lightgray;
    position: fixed;
    padding: 20px;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: all 0.4s linear;
    opacity: 80%;
    color: black;
}

.well button {
    padding: 5px 20px;
    border-radius: 3px;
    background: darkgray;
    transition: all 0.5s ease;
    border: 1px dotted black;
}

.well button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: inset 100px 0 0px 0px black;
    color: white;
}

* {
    font-family: 'Montserrat', sans-serif;
}